RewriteEngine on

# Force SSL: From http://stackoverflow.com/q/24322035/
#RewriteCond %{HTTPS} off
##RewriteRule ^(.*)$ https://icontrolrural.com.br/icontrol/$1 [R,L]
##RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

#RewriteBase /

#RewriteCond %{REQUEST_URI}% !^/landing-page/
#RewriteCond %{HTTP_HOST} ^(www\.)?localhost\.

#RewriteRule ^(.*)$ /landing-page/$1 [L]
RewriteRule ^(.*)$ /public/$1 [L]